bot:
  account:
  password:

moderatecontent:
  apikey:

aliyun:
  accessKeyID:
  accessKeySecret:

localPool:
  imageDir:

loliconPool:
  apikey:

pyProxyPool:
  host: http://127.0.0.1:5010

localProxyPool:
  proxy:
    - 127.0.0.1:8888

concern:
  emitInterval: 5s

zhimaProxyPool:
  api:
  BackUpCap: 50
  ActiveCap: 4
  ClearTime: 600
  TimeLimit: 175
  type: socks

imagePool:
  type: off

proxy:
  type: off

debug:
  group:
    - 0
  uin:
    - 0

logLevel: debug
